
@model IEnumerable<TicketOnLine_webSite.Models.SalleWeb>

@{
    ViewData["Title"] = "AfficherSalle";
}


<div id="SallesWrapper" class="row">
    @foreach (var item in Model)
    {
        //blabla
        <div class="col-sm-6">
            <div class="SalleInfo">
                
                <a asp-controller="Home" asp-action="GetEnventByIdSalle" asp-route-id="@item.Id" title="@item.Nom">
                    <h3>@item.Nom</h3>
                    <img class="product-image img-fluid img-thumbnail" src="~/Images/Image/@item.Image" alt="Image of @item.Nom" />
                </a>
            </div>
        </div>
    }
</div>

