
@model IEnumerable<TicketOnLine_webSite.Models.SalleWeb>

@{
    ViewData["Title"] = "AfficherSalle";
}

<h1>AfficherSalle</h1>

<div id="SallesWrapper" class="row">
    @foreach (var item in Model)
    {
        //blabla
        <div class="col-sm-6">
            <div class="SalleInfo">
                <h3>@item.Nom</h3>
                <img class="product-image img-fluid img-thumbnail" src="~/Images/Image/@item.Image" alt="Image of @item.Nom" />
                <p>Nombre de place : @item.Capacite </p>
            </div>
            <div class="action">
                <a class="btn btn-sm btn-danger ">Evenement </a>
            </div>
        </div>
    }
</div>