@model IEnumerable<TicketOnLine_webSite.Models.EventWeb>
@{
    ViewData["Title"] = "AllEvent";
}
<style>
    #d1 {
        background-color: #EECC4499;
    }

    #d2 {
        background-color: #44EEAA99;
    }
</style>

<div class="text-capitalize, text-center">
    <h3>Agenda</h3>
</div>


<div class="row" id="listeEvent">
    @foreach (var item in Model)
    {
        <div class="col-sm-6">
            <div class="eventinfo">
                <div class="form-group">
                    
                    <a asp-controller="Home" asp-action="DetailsEvent2" asp-route-id="@item.Id" title="Réservation">
                        <h3>@item.NomSpectacle</h3>
                        <img class="product-image img-fluid img-thumbnail" src="~/Images/ImageEvent/@item.Image" alt="image of @item.NomSpectacle" />
                    </a>
                    @*<button class="togg1">Cliquez-moi !</button>
                    <div class="d1"><p class="description">@item.Description</p></div>*@
                </div>
            </div>
        </div>



    }
</div>


@*<script>
    let togg1 = document.getElementByClassName("togg1");
    let d1 = document.getElementByClassName("d1");
    togg1.addEventListener("click", () => {
        if (getComputedStyle(d1).display != "none") {
            d1.style.display = "none";
        } else {
            d1.style.display = "block";
        }
    })
</script>*@