@model IEnumerable<TicketOnLine_webSite.Models.EventWeb>
<div class="text-capitalize, text-center">
    <h3>Evenement à venir</h3>
</div>
<div class="row" id="listeEvent">
    @foreach (var item in Model)
    {
        <div class="col-sm-6">

                <div class="eventinfo">

                    <a asp-controller="Home" asp-action="GetInfoReservation" asp-route-id="@item.Id" title="Réservation">
                        <h3>@item.NomSpectacle</h3>
                        <img class="product-image img-fluid img-thumbnail" src="~/Images/ImageEvent/@item.Image" alt="image of @item.NomSpectacle" />
                    </a>

</div>
        </div>
    }
</div>