@model IEnumerable<TicketOnLine_webSite.Models.ReservationWeb>

@{
    ViewData["Title"] = "Panier2";
}
<style>
    a{
        display:inline;
    }
</style>
<h1>Panier2</h1>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-2">
                @TicketOnLine_webSite.Services.ServicesEvent.Get(item.IdEvent)
                <p>image du concert reduite</p>
            </div>
            <div class="col col-sm-3">
                <p>nom du concert</p>
                <p>nombre de place</p>
                <p>prix place</p>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-success" asp-action="AddOneReservation" asp-route-id="@item.Id">+</a>
                <a class="btn btn-outline-warning" asp-action="RemoveOneReservation" asp-route-id="@item.Id">-</a>
                <a class="btn btn-danger" asp-action="RemoveAll" asp-route-id="@item.Id">x</a>

            </div>
        </div>
        <button class="btn btn-warning"><span class="glyphicon  glyphicon-shopping-cart"></span> Ajouter au panier</button>
    }
</div>